@import './tokens.css';
@import './reset.css';

h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1;
}

.muted {
  color: var(--boja-tekst-mute);
}

.akcent {
  color: var(--boja-akcent);
}

.uspjeh {
  color: var(--boja-uspjeh);
}
